<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>
        <h1>Hello from Flask!</h1>
        <br>

        <h2>Please Enter Your Favorite Movies (And Their Ratings)</h2>
        
        <form action="/recommender" method="GET">
            <input type="text" placeholder="Enter Movie Title 1..." name="mov1">
            <input type="text" placeholder="Enter Movie Rating 1..." name="rat1"><br>

            <input type="text" placeholder="Enter Movie Title 2..." name="mov2">
            <input type="text" placeholder="Enter Movie Rating 2..." name="rat2"><br>

            <input type="text" placeholder="Enter Movie Title 3..." name="mov3">
            <input type="text" placeholder="Enter Movie Rating 3..." name="rat3"><br>
            <br>
            <input type="submit">

        </form>
        
        <p><strong>This is a great recommender.</strong></p>
        <!-- <a href='/recommender'>Get a Movie Recommendation!</a> -->
    </body>

</html>

<!-- This is an HTML comment -->