
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    Here is what you entered:<br>
    <!-- {{ results_html[0] }} and <br>{{ results_html[1] }} and <br>{{ results_html[2] }} -->
    <!-- these double curly brackets are called jinja templates -->

    <!-- <ul>
        <li> {{movie_titles[0]}} </li>
        <li> {{movie_titles[1]}} </li>
        <li> {{movie_titles[2]}} </li>
    </ul> -->

    <ul>
        {% for i in movie_titles %}
        <li> {{ i }} </li>
        {% endfor %}
    </ul>



    <a href='/'>Go back home!</a>
</body>

</html>
