{% extends "base.html" %}

{% block content %}

<section class="main-splash">

  <h1>The <span id="highlight">Power</span> of Non-Negative Matrix Factorization.</h1>
  <p><i>This is a first draft of a movie recommender using NMF.
      Currently it is very slow because it uses fuzzy matching. It will be improved soon! </i></p>

  <div class="button-container">


    <button onclick="location.href='/recommender'" type="submit" class="js-btn btn btn-light m-5">
      Start
    </button>

  </div>

</section>


{% endblock %}